@import "../../../styles/Keyframes.scss";
@import "../../../styles/variables.scss";

.form {
    width: 100%;
    border: 2px solid #b7c0c2;
    border-radius: 4px;
    padding: .4rem;
    margin: .6rem 0;
}