$color-white:#fff;
$color-red:red;
$color-green:rgb(48, 181, 48);
$color-green2:rgb(59, 207, 59);

@mixin mx () {
    max-width: 1600px;
    margin: 0 auto;

    @include md {
        width: 70vw;
    }
}

@mixin flex ( $justify:space-between ,$align:center ) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @content
};

@mixin md () {
    @media ( min-width: 768px ) {
        @content
    }
}